{% load static %}
<div class="header__body">
    <div class="slider">
        <div class="slide">
            <div class="slide__overlay"></div>
            <img src="{% static "img/243.jpg" %}" alt="">
            <div class="slide__body">
                <h2 class="slide__header">Сучасні технології</h2>
                <p class="slide__text">
                    Багаторічний досвід спеціалістів дозволяє використовувати відкриті хірургічні,
                    лапароскопічні та ендохірургічні операції. Пріоритетними є мінімально-інвазивні
                    та Fast-track (прискорені) технології лікування.
                </p>
{#                <button class="main-btn">Детальніше</button>#}
            </div>
        </div>
        <div class="slide">
            <div class="slide__overlay"></div>
            <img src="{% static "img/241.jpg" %}" alt="">
            <div class="slide__body">
                <h2 class="slide__header">Міжнародні протоколи</h2>
                <p class="slide__text">
                    Лікування в відповідності до міжнародних протоколів,
                    з доведеною ефективністю, прийнятими в провідних клініках світу.
                </p>
{#                <button class="main-btn">Детальніше</button>#}
            </div>
        </div>
        <div class="slide">
            <div class="slide__overlay"></div>
            <img src="{% static "/img/244.jpg" %}" alt="">
            <div class="slide__body">
                <h2 class="slide__header">Гарантована висока кваліфікація хірургів</h2>
                <p class="slide__text">
                    Лікарі – лідери напрямків вітчизняної хірургії, висококваліфіковані експерти
                    признані в Україні та поза її межами. Всі лікарі мають вищу кваліфікаційну категорію.
                </p>
{#                <button class="main-btn">Детальніше</button>#}
            </div>
        </div>
        <div class="slide">
            <div class="slide__overlay"></div>
            <img src="{% static "/img/242.jpg" %}" alt="">
            <div class="slide__body">
                <h2 class="slide__header">Консультація кваліфікованих хірургів</h2>
                <p class="slide__text">
                    Експертна консультація з виконанням хірургічної операції любої ступені складності а також
                    високотехнологічні види оперативних втручань на органах черевної порожнини та м’яких тканинах.
                </p>
{#                <button class="main-btn">Детальніше</button>#}
            </div>
        </div>
    </div>
</div>